* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#body-container {
    height: 100vh;
    background: linear-gradient(cornflowerblue, transparent);
    display: flex;
    flex-direction: column;
}

#head-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

#game-heading {
    font-size: 4em;
    color: cornsilk;
}

#main-container {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em auto 1.5em auto;
}

#display {
    padding-top: 1em;
}

#display-container {
    display: flex;
}

#display-item {
    min-height: 74px;
    min-width: 474px;
    background-image: radial-gradient(transparent, lightsteelblue);
    color: teal;
    font-size: xxx-large;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px royalblue;
}

#boxes {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1.5em 0;
}


.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.box {
    min-height: 150px;
    min-width: 150px;
    background-image: radial-gradient(transparent, lightsteelblue);
    color: royalblue;
    font-size: 8em;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px royalblue;
}

.box:hover {
    background-image: radial-gradient(lightsteelblue, transparent);
}

.box:active {
    background-image: radial-gradient(transparent, lightsteelblue);
}

#reset-button {
    padding: .5em;
    background-image: linear-gradient(to bottom, lightslategray, transparent, lightslategray);
    color: black;
    font-weight: bold;
    font-size: xx-large;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}

#reset-button:hover {
    background-image: linear-gradient(to bottom, transparent, lightslategray,
            transparent);
    color: white;
}

#reset-button:active {
    background-image: linear-gradient(to bottom, lightslategray, transparent, lightslategray);
    color: black;
}